* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuentePrimaria: 'Agbalumo';
    --fuenteSecundaria: 'Kalam', cursive;

    --primario: #f585a8;
    --Secundario: #C3D0DF;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.style-nav {
    color: var(--negro);
    font-family: var(--fuentePrimaria);
    text-decoration: underline var(--negro);
}

.style-nav:hover {
    text-decoration: underline wavy var(--primario);
}

.titulo-primario {
    font-family: var(--fuentePrimaria);
    font-size: 5rem;
    color: var(--primario);
}

.parrafo-primario {
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
}

.img-style {
    height: 60vh;
}

.card-border {
    border: none;
}

.imagen-carrusel {
    max-width: 50%;
    max-height: 50vh;
}

@media (min-width: 768px) {
    .imagen-carrusel {
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 540px) {
    .carousel-inner {
        display: none;
    }
}

.bg-footer {
    background-color: var(--Secundario);
}

.btn-style {
    font-family: var(--fuentePrimaria);
    background-color: var(--primario);
}
.btn-style:hover{
    background-color: var(--negro);
    color: var(--primario);
}

/*TIENDA*/

.titulo-estilo-tienda {
    font-family: var(--fuentePrimaria);
    font-size: 2rem;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(245, 133, 168));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.estilo-card {
    transition: all 1s ease;
}

.estilo-card:hover {
    transform: scale(1.1, 1.1);
}

.titulo-card {
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--primario);
    text-decoration: underline wavy var(--primario);
}

.btn-card {
    font-family: var(--fuenteSecundaria);
    background: linear-gradient(90deg, #C3D0DF 0%,#F585A9 100%);
    color: var(--negro);
    font-weight: 700;
    box-shadow: 5px 4px 7px 2px #8f8f8f;
    transition: all 1s ease;
}

.btn-card:hover {
    color: #fff
}

/*CONTACTO*/

.bg-body_contact {
    background-image: url(../cupcake-3723832_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-form{
    background-color: rgba(0, 0, 0, 0.541);
}
.text-titulo_form{
    font-family: var(--fuentePrimaria);
    color: var(--primario);
}
@media (max-width: 540px) {
    .style-margin{
        margin-top: 1rem;
    }
}

.style-buttom_form{
    font-family: var(--fuentePrimaria);
    color: rgb(59, 59, 59);
    background-color: var(--primario);
    font-size: 1rem;
    border: 0;
}
.style-buttom_form:hover{
    color: var(--primario);
    background-color: rgb(59, 59, 59);
}